body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    background: #f5f5f5;
}

h1{
    text-align: center;
}

#taskInput, #filter{
    margin-bottom: 20px;
}

input, select, button{
    margin: 5px;
    padding: 8px;
}

button{
    cursor: pointer;
}

table{
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td{
    padding: 10px;
    border: 1px, solid, #ccc;
    text-align: center;
}

th{
    background: #eee;
}

